{%extends 'base.html' %} 
{% block content %}

<div class="text-center" style="width: 80%; margin: 0 auto">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  
  <h3 style="background-color: rgba(0, 0, 0, 0.479);">
    Forgot your password? Please enter the email address you used to register
    with us and we will send you a link to reset your password
  </h3>
</div>
<br/>


<form action="" method="POST" class="text-center">
  {% csrf_token %}
  {{form}}
  <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2">Submit!</button>
  <br>
</form><br/>

<div class="text-center">
  <a href=" {% url 'home' %}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Homepage</button></a>

</div>

{% endblock%}